<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <style type="text/css">
  input.ng-touched.ng-invalid {
    border: 4px solid red;
  }
  </style>
</head>
<body ng-app="myApp">
  <div ng-controller="myController">
    <form name="exampleForm" novalidate>
      <p ng-if="exampleForm.$error.required && exampleForm.$dirty">
        Please enter a username.
      </p>

      <p ng-if="exampleForm.$error.minlength && exampleForm.$dirty">
        Please more than 3 characters.
      </p>
      <label>username:</label>
      <input name="username"
             ng-model="username"
             required
             ng-minlength="3"/>
    </form>
    <pre>{{ exampleForm | json }}</pre>
  </div>
  <script src="/lib/angular.1.5.js"></script>
  <script>
    var myApp = angular.module("myApp", []);
    myApp.controller("myController", ["$scope", function($scope){
    }]);
  </script>
</body>
</html>
