<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <style type="text/css">
  input.ng-touched.ng-invalid {
    border: 4px solid red;
  }
  .red{
    display: inline-block;
    padding: 2px;
    margin: 2px;
    border: 2px solid red;
  }
  </style>
</head>
<body ng-app="myApp">
  <div ng-controller="myController">
    <p ng-if="exampleForm.username.$error.required">
      Username is required
    </p>
    <p ng-if="exampleForm.email.$error.required">
      Email is required
    </p>
    <form name="exampleForm" novalidate class="red">
      <label>username:</label>
      <div ng-model-options="{'getterSetter': true}">
        <input name="username"
               ng-model="username"
               required/>
        <label>email:</label>
        <input name="email"
               ng-model="email"
               required/>

      </div>
    </form>
    <pre><strong>$scope.exampleForm =</strong>
         {{ exampleForm | json }}</pre>
  </div>
  <script src="/lib/angular.1.5.js"></script>
  <script>
    var myApp = angular.module("myApp", []);
    myApp.controller("myController", function($scope){
      var _value = "";
      $scope.username = function(value) {
        if(value || (value === "")) {
          // Act as setter
          console.log("IM A SETTER");
          _value = value;
          return _value;
        } else {
          // Act as getter
          console.log("IM A GETTER")
          return _value;
        }
      }
    });
  </script>
</body>
</html>
